<div class="jumbotron center">
	<h1>Groupie Love</h1>
	<p>To Experience...,</p>
	 <%= link_to 'SIGN IN', root_path, class: "btn btn-primary" %>
	 <%= link_to 'SIGN UP', root_path, class: "btn btn-primary" %>
</div>

